<!-- <p>header works!</p> -->
<div class="container">
  <div class="avtar">
    <img src="https://img.freepik.com/free-vector/bird-colorful-gradient-design-vector_343694-2506.jpg?w=740&t=st=1691477952~exp=1691478552~hmac=c0f4249870063e1dfd440cb8de8ada89c4f69b63bd4fa87a520148ba265d8099" alt="">
  </div>
  <div class="menus">
    <img src="https://raw.githubusercontent.com/Deshmaneparas/my-imageslogo15/a2d7f895101156850fe33232c8caf0759cbd036b/group-svgrepo-com.svg" alt="">
    <img src="https://raw.githubusercontent.com/Deshmaneparas/my-imageslogo15/a2d7f895101156850fe33232c8caf0759cbd036b/status-svgrepo-com.svg" alt="">
    <img src="https://raw.githubusercontent.com/Deshmaneparas/my-imageslogo15/a2d7f895101156850fe33232c8caf0759cbd036b/message-square-lines-alt-svgrepo-com.svg" alt="">
    <img src="https://raw.githubusercontent.com/Deshmaneparas/my-imageslogo15/a2d7f895101156850fe33232c8caf0759cbd036b/menu-dots-svgrepo-com.svg" alt="">
  </div>



</div>