
<div class="container">
  <div class="avtar">
    <img src="https://img.freepik.com/free-vector/bird-colorful-gradient-design-vector_343694-2506.jpg?w=740&t=st=1691477952~exp=1691478552~hmac=c0f4249870063e1dfd440cb8de8ada89c4f69b63bd4fa87a520148ba265d8099" alt="">
  </div>
  <div class="details">
    <div class="name">
      <p class="p-name">Paras Deshmane</p>
      <p class="p-time">12:56pm</p>
    </div>
    <div class="recent">
      <p class="message">Good Morning Bro..getting late?</p>
      <p class="count">792</p>
    </div>
  </div>

</div>